
<!-- Header -->
 <!-- <mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="true" fixedInViewport>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" (click)="drawer.toggle()">Home</a>
      <a mat-list-item routerLink="/login" routerLinkActive="active-link" (click)="drawer.toggle()">Login</a>
     
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="menu-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>🎬 Movie Recommendation App</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container> -->

<mat-toolbar color="primary">
  <span>🎬 Movie Recommendation App</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/login">Login</a>
  <a mat-button routerLink="/register">Register</a>
</mat-toolbar>

<!-- Router outlet loads your feature modules -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>
